* {
    margin: 0;
}
h1 {
    background-color: black;
    color: white;
    padding: 16px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description {
    padding: 24px 72px;
}

.description h2 {
    padding: 16px 0 8px 0;
}

.profile-image img {
    width: 360px;
    height: 480px;
}

